.video-list {
  width: 100%;
  height: 100%;
  overflow: auto;

  .video-list-item {
    display: flex;
    width: 100%;
    height: 146px;
    margin: 4px 0px;
    padding: 4px 4px;
    cursor: pointer;

    .video {
      width: 260px;
      height: 100%;
    }

    .description {
      width: calc(100% - 260px);
      height: 146px;
      padding: 4px 12px;

      .title {
        font-weight: 600;
      }

      .name-container {
        display: flex;
      }
      .explanation {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
